:root {
  --primary-color: #225897;
  --secondary-color: #5ea2f0;
  --bg-color: #f8f8f8;
  --font-color: #121212;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

body {
  background-color: var(--bg-color);
  margin: 60px auto;
  max-width: 800px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 5px;
  color: var(--font-color);
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.more-links {
  display: flex;
  margin: 50px;
  justify-content: center;
}

.more-links a {
  margin: 20px;
  border-radius: 3px;
  padding: 20px 15px;
  text-decoration: none;
}

.contact-link {
  background: var(--primary-color);
  color: var(--bg-color);
  box-shadow: var(--box-shadow);
}

.about-link {
  background: var(--bg-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.homepage-link {
  display: block;
  color: var(--primary-color);
  text-decoration: none;
  text-align: center;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 24px;
}

.email-link:hover {
  text-decoration: none;
}

.paragraphs {
  display: flex;
  margin: 20px;
}

.paragraphs p {
  margin: 10px;
}
